body {
	margin: 0;

}

header {
	background: linear-gradient(to right, rgb(2,87,163),rgb(2,87,163), black);
	margin-top: -20px;
	border-bottom: solid;
	border-color: black;
}

header h1 {
	text-align: center;
}

body header h1 img {
	padding: 44px 5px 44px 55px;
}

section {
	width: 600px;
	height: auto;
}

aside {
	width: 300px;
	text-align: left;
	float: right;
}

nav ul {
	text-align: center;
}

header nav ul li a {
	color: white;
	text-decoration: none;
	display: block; 
	margin-right: 5px; 
	margin-left: 5px;
    font-size: 18px;  
    line-height: 44px;    
	text-align: left;
	padding: 0 5px 0 5px;
}

header nav ul li {  
    display: inline-block;  
} 

header nav ul li ul {
	display: none;
	position: absolute;
}

header nav ul li:hover ul {
	display: block;
	background: gray;
	border: 3px solid black;
	height: auto;
	width: auto;
}

nav ul li ul li {
	display: block;
	border-style: none;
}

header nav ul li ul li a {
	display: block;
	line-height: 30px;
	text-align: left;
	border-style: none;
	margin-left: -40px;
}

.artikkel {
	color: black;
	margin-top: 100px;
	margin-left: auto;
    margin-right: auto;
    text-align: right;
	border: 2px solid black;
}

.registrer {
	margin-top: 100px;
	margin-left: auto;
    margin-right: auto;
    width: 20em;
    height: 10em;
    padding: 70px 50px 0 0;
    text-align: right;
	border: 2px solid black;
}

.login {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 20em;
	height: 5em;
	padding: 30px 50px 0 0;
	text-align: right;
	border: 2px solid black;	
}

.varer {
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height: auto;
	padding: 30px 50px 20px 0;
	text-align: center;
	border: 2px solid black;	
}

#katalog {
	text-align: center;
}

.shop {
	color: black;
	text-align: left;
	text-decoration: none;
	margin-right: 1445px; 
	margin-left: 5px;
    font-size: 12px;  
}


#produkttekst {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 200em;
	height: 5em;
	padding: 30px 50px 0 0;
	text-align: right;
	border: 2px solid black;	
}