body {
	margin: 0;
	background-image: url("../design/retro_art_wallpaper_design.png");
}
@media screen and (max-width: 900px) {
    body {
       /* background-image: url("../design/mobil.jpg");*/
	}
	
	header{
	height:350px;
	border-color:red;
	}
	
	aside.hovedside{
		
		display:none;
	}
	aside.shop{
		
		display:none;
		
	}
	
	div.hoved{
		margin:0px;
	}
	header nav ul li:hover ul {
		display:none;
	}
	header nav ul li ul li a {
		display: none;
	}
	nav ul li ul li {
		display: none;
	}
	div.varer{
		margin-top:20px;
		
		
	}
	
	
}
article.hovedside {
	float: left;
	width: 700px;
	height: 700px;
	margin-left: 50px;
}
div.supportbox {
	float: left;
	width: 700px;
	height: 900px;
	margin-left: 50px;
}
div.registerdiv {
	float: left;
	width: 600px;
	height: 200px;
	background: gray;
	border-radius: 20px;
	padding-left: 50px;
	padding-top: 50px;
}
div.regdiv {
	float: left;
	margin: 5px;
	height: 100px;
	width: 140px;
}
header {
	/* background: linear-gradient(to right, rgb(2,87,163),rgb(2,87,163), black); */
	background:linear-gradient(to right, gray, gray, black);
	margin-top: -20px;
	border-bottom: solid;
	border-color: black;
	color: white;
	height: 100px;
	
}
@media screen and (max-width: 900px) {
	header{
	height:140px;
	
	}
	
}

header h1 {
	text-align: center;
}

main {
	color: white;
}

section {
	width: 600px;
	height: auto;
	
}

.artikkel {
	text-align: center;
	border:1px solid red;
}

aside.hovedside {
	width: 350px;
	height: 500px;
	text-align: left;
	float: right;
}
div.asidediv {
	background: gray;
	border-radius: 20px;
	width: 250px;
	height: 150px;
	padding: 40px;
	padding-left: 20px;
	margin-top: 50px;
}

nav ul {
	text-align: center;
}

header nav ul li a {
	color: white;
	text-decoration: none;
	display: block; 
	margin-right: 5px; 
	margin-left: 5px;
    font-size: 18px;  
    line-height: 44px;    
	text-align: left;
	padding: 0 5px 0 5px;
}

header nav ul li {  
    display: inline-block;  
} 

header nav ul li ul {
	display: none;
	position: absolute;
}

header nav ul li:hover ul {
	display: block;
	background: gray;
	border: 3px solid black;
	height: auto;
	width: auto;
}

nav ul li ul li {
	display: block;
	border-style: none;
}

header nav ul li ul li a {
	/*display: block;*/
	line-height: 30px;
	text-align: left;
	border-style: none;
	margin-left: -40px;
}

footer{
	clear:both;
	text-align:center;
	background: linear-gradient(to right, gray, gray, black);
	border:2px solid black;
	padding:5px;
	color:black;
	box-shadow:5px 5px;
	
	
}
main aside nav ul li {
	list-style: none;
	color: white;
	text-decoration: none;
	border-radius: 10px;
}
aside.shop {
	float:left;
	text-align: left;
	background: linear-gradient(to bottom right, rgb(2,87,163),rgb(2,87,163), black);
	height: 450px;
	padding: 0;
	text-decoration: none;
	margin-left: 20px;
	position: fixed;
	width: 170px;
	border-radius: 20px;
}
aside ul li {
	width:130px;
	height: 20px;
	/* border: 5px solid green; */
	background: gray;
	margin-bottom: 20px;
	margin-left: -25px;
	padding: 5px;
}
aside ul li a{
	text-decoration: none;
	color: white;
	
}
div.nyheter {
	height: 70px;
	width: 700px;
	background: gray;
	margin-bottom: 30px;
	border-radius: 20px;
	padding-left: 10px;
	float: left;
}
div.support {
	margin-bottom: 20px;
	width: 600px;
	float: left;
	background: gray;
	border-radius: 20px;
	padding-left: 10px;
	
	
}
div.login {
	margin-bottom: 20px;
	height: 200px;
	width: 600px;
	float: left;
	background: gray;
	border-radius: 20px;
}
div.input {
	margin: 50px;
}

.shop{
	display:block;
	float:left;
	text-align: left;
	background: linear-gradient(to bottom, rgb(2,87,163),rgb(2,87,163), black);
	height: 450px;
	padding: 0;
	text-decoration: none;
	margin-left: 20px;
	
	
}
.varer{
	padding:20px;
	border:10px;
	float:left;
	background-color:gray;
	word-wrap: break-word;
	width:270px; 
	margin-right: 5px;
	border-radius: 20px;
	
}
.knapp{
	clear:right;
	span:active;
	padding-top:1px;
	
}

#katalog {
	margin-left: 30px;
	float: left;
}

span.kroner {
	padding: 0 0 0 15px;
}
.hoved {
	margin-left: 200px;
}
.nyheter{
	float:left;
	text-align:center;	
	border: 3px red;
	
}

.omoss{
	
	margin-left:350px;
	
	
}
h2{
	text-align:center;
}

}